.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navButton {
  /* nav bar button for personal site */
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.navButton:hover {
  background-color: #61dafb;
  color: black;
}

.navButton:active {
  background-color: #61dafb;
  color: black;
  transform: translateY(4px);
}

.navButton:focus {
  outline: none;
}

.navButton:visited {
  color: white;
}

.navButton:visited:hover {
  background-color: #61dafb;
  color: black;
}

.navButton:visited:active {
  background-color: #61dafb;
  color: black;
  transform: translateY(4px);
}

.navButton:visited:focus {
  outline: none;
}

.navBar {
  /* nav bar for personal site */
  background-color: #282c34;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 15px;
}

/* make navbar switch to vertical when on mobile */
@media screen and (max-width: 600px) {
  .navBar a {
    float: none;
    display: block;
    text-align: left;
  }

  body {
    padding-top: 120px; /* Adjust this value to match the navbar's height */
  }
}

/* for site page just put margins so it doesn't overlap with nav bar */
/* and to keep it off the border of the page */
.sitePage {
  /* site page for personal site */
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

