.container {
    display: flex;
    margin: 0 auto; /* Adds equal margin to left and right of the container */
    max-width: 1200px; /* Change as needed to control the maximum width */
  }

  /* when the screen size is 600px or less, set the sidebar and mainContent to stack on top of each other */
@media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }
  
  .sidebar {
    flex: 25%;  /* Decreased from 30% to 25% */
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-right: 2px solid #ddd;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }
  

  

.sidebar img {
    max-width: 100%;  /* ensures the image does not overflow the sidebar */
    height: auto;  /* maintains the aspect ratio of the image */
    margin-top: 10px;  /* adds some space above the image */
    border-radius: 12px;
}

.sidebar a {
    color: black;
    text-decoration: underline;
  }
  
  .sidebar a:visited {
    color: black;
  }

  .sidebar .icon {
    width: 20px; /* Adjust as necessary */
    height: auto; /* Maintains the aspect ratio */
    margin-top: 0px;
    margin-right: 5px; /* Space between the icon and the link text */
    vertical-align: middle; /* Aligns the icon with the link text */
  }
  
  
  
  .mainContent {
    flex: 75%;
    padding-left: 50px;
    box-sizing: border-box;
  }

  /* don't add padding to the mainContent when the screen size is 600px or less */
@media screen and (max-width: 600px) {
    .mainContent {
      padding: 10px;
    }
  }
  